<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-button>
    <ion-title>Acerca-de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Agenda Electronica</h3>
  <p>
    Aplicación diseñada para la asignatura DSI que permite organizar tareas pendientes y contactos
  </p>
  <p>
    La aplicacion esta realizada utilizando Ionic framework
  </p>
  <br>
  <h4>Tu nombre</h4>
  <ion-item>
    <ion-icon name="logo-github"></ion-icon>
    <a href="https://www.github.com/maximilianomathias">maximilianomathias</a>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-linkedin"></ion-icon>
    <a href="https://www.linkedin.com/in/mathiasamarillolemos/">Mathias Amarillo Lemos</a>
  </ion-item>
</ion-content>
