.classform1
label{
  width: 100px;
  display: inline-block;
}
input{
  width:200px;
}
select{
  width: 300px;
}

.class_comanda{
  background: coral;
  display: block;
  width: 450px;
}

.class_comanda .titulo{
  text-align: center;
}
